$layout-breakpoint-small: 960px;
$lightblue: #cfeafd;
$grey1: #f6f6f6;
$grey2: #d9d9d9;
$yellow: #fcc709;
$blue1: #0b69db;
$blue2: #3654c2;
$black: #060606;
$white: rgba(255, 255, 255);

.dark-mode {
  .HeaderImg {
    background-color: $black !important;
  }
}
#Home {
  position: relative;
  left: 0;
  top: 0;
  background-color: $black;
  width: 100vw;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 0 0 15% 15%;
  height: calc(100vh - 80px);
  display: flex;
  align-items: center;
  flex-direction: column;

  h1 {
    position: absolute;
    color: $white;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 40px;
    padding: 10px;
    margin-top: 100px;
    letter-spacing: 1px;
    overflow: hidden;
    white-space: nowrap;
    font-family: fantasy;
    border-left: 0.15em solid $white;
    background: linear-gradient(
      90deg,
      rgba(2, 0, 36, 1) 0%,
      rgba(124, 136, 157, 1) 6%,
      rgba(165, 224, 236, 1) 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    text-align: center;
    animation: typing 3.5s steps(40, end) 1s,
      blink-caret 0.75s step-end infinite;

    z-index: 2;
  }
  @keyframes typing {
    from {
      width: 0;
    }
    to {
      width: 970px;
    }
  }

  @keyframes blink-caret {
    from,
    to {
      border-color: transparent;
    }
    50% {
      border-color: $white;
    }
  }
  .HeaderImg {
    background-color: transparent;
    position: relative !important;
    display: flex;
    margin-top: auto !important;
    width: 100%;
    overflow: hidden;
    align-items: center;
    object-fit: cover;
    img {
      object-fit: contain;
      z-index: 2;
      width: 100%;
      height: 110%;
    }
  }
}
@media (max-width: $layout-breakpoint-small) {
  #Home {
    height: fit-content !important;

    h1 {
      position: absolute;
      font-weight: 600;
      font-size: 18px;
      padding: 10px;
      max-width: 80%;
      height: 5em;
      margin-top: 10px;
      white-space: wrap;
    }
    @keyframes typing {
      from {
        width: 0;
      }
      to {
        width: 80%;
      }
    }
    .HeaderImg {
      background-color: transparent;
      position: relative !important;
      display: flex;
      margin-top: auto !important;
      width: 100%;
      overflow: hidden;
      align-items: center;
      object-fit: cover;
      img {
        object-fit: contain;
        z-index: 2;
        width: 100%;
        height: 100%;
        transform: translateY(0px);
      }
    }
  }
}
