$layout-breakpoint-small: 960px;
$lightblue: #cfeafd;
$grey1: #f6f6f6;
$grey2: #d9d9d9;
$yellow: #fcc709;
$blue1: #0b69db;
$blue2: #3654c2;
$black: #060606;
$white: rgba(255, 255, 255);
$gray: #929292;

.css-selector {
  background: linear-gradient(244deg, #1a1e1d, #cfd6d7) !important;
  background-size: 400% 400% !important;
  color: #000000 !important;
  -webkit-animation: AnimationName 5s ease infinite !important;
  -moz-animation: AnimationName 5s ease infinite !important;
  animation: AnimationName 5s ease infinite !important;
}

@-webkit-keyframes AnimationName {
  0% {
    background-position: 19% 0%;
  }
  50% {
    background-position: 82% 100%;
  }
  100% {
    background-position: 19% 0%;
  }
}
@-moz-keyframes AnimationName {
  0% {
    background-position: 19% 0%;
  }
  50% {
    background-position: 82% 100%;
  }
  100% {
    background-position: 19% 0%;
  }
}
@keyframes AnimationName {
  0% {
    background-position: 19% 0%;
  }
  50% {
    background-position: 82% 100%;
  }
  100% {
    background-position: 19% 0%;
  }
}
#profileinfo {
  display: flex;
  height: calc(100vh - 80px) !important;
  flex-direction: column;
  align-items: center;
  text-align: end;
  background-image: linear-gradient(120deg, $grey1, #ebedee 100%);

  .profile {
    display: flex;
    flex-direction: row-reverse;
    margin: 20px;
    padding: 15px;
    .headerprofile {
      display: flex;
      flex-direction: column;

      .lefprofile {
        display: flex;
        flex-direction: column;
        margin-left: auto;
        align-items: center;
        justify-content: center;
        box-shadow: 0px 4px 16px rgba(96, 97, 112, 0.08);
        padding: 60px 40px !important;
        width: 220px;
        border-radius: 25px;
        margin: 20px;
        background-color: $white;
        text-align: center;
        text-transform: capitalize;
        .fa-heart {
          margin-left: auto;
          font-size: 18px;
          &:hover {
            transform: scale(1.1);
            color: orangered;
          }
        }
        .rate {
          display: flex;
          text-align: center;
          align-items: baseline;

          justify-content: space-evenly;
          margin: 10px 0;
          flex-direction: row;
          gap: 5px;
          img,
          p,
          span {
            font-size: 15px;
            height: 15px;
            width: fit-content;
          }
        }
        .img-radius {
          height: 100px;
          border-radius: 50%;
          padding: 8px;
          object-fit: cover;
          width: 100px;
        }
        padding: 10px;
        img {
          width: 120px;
          margin-left: 10px;
        }
        p {
          font-size: 16px;
          font-weight: 500;
          color: $black;

          margin: 12px 0;
          margin-bottom: 5px;
        }
        span {
          color: #929292;
          font-weight: 500;
          text-wrap: nowrap;
        }
        button {
          padding: 8px 20px;
          background-color: $blue1;
          color: $white;
          font-size: 20px;
          margin: 20px;
          border: solid 1px $blue1;
          border-radius: 20px;
          transition: all 0.3s ease-in;
          position: relative;
          z-index: 1;
          overflow: hidden;
          &:hover {
            box-shadow: rgba(89, 155, 189, 0.315) -4px 4px 11px 2px;
            transform: scale(1.1);
          }
        }
      }
      .rightprofile {
        box-shadow: 0px 4px 16px rgba(96, 97, 112, 0.08);
        width: 220px;
        background-color: $white;
        border-radius: 25px;
        margin: 20px;
        padding: 20px 40px;
        .h2 {
          padding: 10px 5px;
          border-bottom: #d9d9d9 solid 1px;
          font-size: 20px;
          margin-bottom: 10px;
          font-weight: 500;
        }
        .h6 {
          font-size: 16px;
          font-weight: 500;
          margin: 10px 0;
        }
        p {
          color: #929292;
        }
        .h1 {
          color: #929292;

          font-size: 24px;
          font-weight: 600;
          padding: 0;
        }
        .h4 {
          color: $yellow;

          font-size: 26px;
          margin: 0;
          padding: 0;
          letter-spacing: 2px;
        }
      }
    }

    .examplePhoto {
      .h2 {
        padding: 10px 0;
        margin: 10px 0;
        font-size: 20px;
        font-weight: 500;
        border-bottom: solid 1px $grey2;
      }

      .imgcontainer {
        display: flex;
        flex-direction: row;
        justify-content: end;
        img {
          height: 200px;
          object-fit: cover;
          margin: 10px;
          transition: all ease-in 0.3s;
          &:hover {
            transform: scale(1.1);
            z-index: 99;
          }
        }
      }
      .reviews {
        .reviewcontainer {
          display: flex;
          flex-direction: column;
          max-height: 300px;
          overflow-y: auto;
          .review {
            display: flex;
            flex-direction: row-reverse;
            justify-content: end;
            padding: 20px;

            .icon-profile {
              display: flex;
              flex-direction: column;
              align-items: center;
              justify-content: center;
              text-align: center;
              margin-top: 8px;
              margin-left: 10px;
              width: 100px;
              .img-radius {
                height: 80px;
                border-radius: 50%;
                padding: 8px;
                object-fit: cover;
                width: 80px;
              }
              p {
                text-wrap: wrap;
              }
            }
            .sidechat {
              display: block;
              padding: 15px 10px;
              margin-top: 15px;
              margin-right: 15px;
              border-radius: 10px;
              background-color: $white;
              box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
              position: relative;
              width: 300px;
              max-height: 300px;

              &::after {
                content: "";
                border-top: 50px solid $white;
                border-right: 50px solid transparent;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(40px);
              }
              .stars {
                color: #fcc709;
                font-size: 24px;
                background-color: transparent !important;
                margin-bottom: 10px;
              }
              .rating {
                font-weight: 500;
                font-size: 18px;
                margin-right: 10px;
              }
              .comment {
                font-size: 16px;
                margin: 15px 0;
                height: fit-content;
                width: 100%;
                max-height: 300px !important;
                text-wrap: wrap !important;
                text-align: end;
                overflow: hidden;
              }
              .date {
                font-size: 12px;
                margin: 0;
                color: #929292;
              }
              .fa-heart {
                position: absolute;
                font-size: 20px;
                right: 0;
                color: #fc464d;
                margin: 10px 0;
              }
            }
          }
        }
        .sendReview {
          display: flex;
          justify-content: flex-end;
          align-items: end;
          padding: 10px;

          .icon-profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            text-align: center;
            .img-radius {
              height: 80px;
              border-radius: 50%;
              padding: 8px;
              object-fit: cover;
              width: 80px;
            }
            p {
              text-wrap: nowrap;
              font-weight: 500;
            }
          }
          div {
            input {
              height: 40px;
              max-width: 300px;
              border: solid 1px #dbdbdb;
              outline: none;
              width: 300px;
              text-align: end;
              font-size: 18px;
              transition: border ease 0.3s;
              padding: 10px;
              margin-right: 15px;
              &:focus {
                border: solid 1px $blue1;
              }
            }
            div {
              padding: 15px 10px;
              span {
                font-size: 26px;
                margin: 10px 10px;
              }
            }
          }

          button {
            margin-top: auto;
            background-color: $blue1;
            color: white;
            padding: 8px;
            font-size: 18px;
            border: none;
            border: solid 1px $blue1;
            margin-right: 20px;
            font-weight: 500;
            border-radius: 15px 10px;
            transition: all ease-in 0.3s;
            &:hover {
              background-color: transparent;
              color: $blue1;
            }
          }
        }
      }
    }
  }
}
